unidra/Library/
unidra/Library/metadata/
unidra/Library/metadata/*/*
unidra/Temp/
unidra/Temp/*
unidra/Assets/UnityVS/
unidra/Assets/UnityVS.meta
unidra/ProjectSettings/ProjectVersion.txt

*.csproj
*.sln
*.suo
**/*.apk
**/*.backup

unidra/Temp/UnityLockfile
unidra/Assembly-CSharp.csproj
unidra/ProjectSettings/*
unidra/unidra.sln
unidra/obj/
unidra/obj/Debug/

!unidra/ProjectSettings/ProjectSettings.asset