Library/
Library/metadata/
Library/metadata/*/*
Temp/
Temp/*
Assets/UnityVS/
Assets/UnityVS.meta
ProjectSettings/ProjectVersion.txt

*.csproj
*.sln
*.suo
**/*.apk
**/*.backup

Temp/UnityLockfile
Assembly-CSharp.csproj
ProjectSettings/*
unidra.sln
obj/
obj/Debug/

!ProjectSettings/ProjectSettings.asset